p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;

}

.video-title{
    /*font: 1em sans-serif; */
    font-size: 30px;
    font-weight: bolder;
    /* text-align: center; */
    margin-bottom: 5px;
    width: 300px;
}

.video-stats{
    font-size: 14px;
    color: rgb(96, 96, 96);
   /* text-align: center; */
}

.content-owner{
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.video-description{
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    margin-bottom: 100px;

}

.apple-ad{
    font-size: 14px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: white;

}

a:hover {
    text-decoration: underline;
}
